
<header>
<nav class="navbar navbar-default navbar-right navbar-fixed-top">
  <div class="container-fluid" id = "image">
  <h1 id ="logo">MusicBucket</h1>
    <ul id='head-links' class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Our story</a></li>
        <li><%= @user.first_name %><%= link_to "Log out!", signout_path %></li>
    </ul>
  </div>
</nav>
</header>

<h2><%= @user.name %>'s Music Buckets</h2>
<div class="container">
  <div class="col-sm-11 col-sm-offset-1 ">

  <div class="row">


    <div class="col-sm-3 thumbnail bucketbox text-center"><span class="add-link"><%= link_to "+", user_buckets_path(@user) %></span>

    <div id="add-form" class="overlay">
      <%= form_for Bucket.new, :url => user_buckets_path(@user) do |f| %>
       <p><%= f.label :name %>: <%= f.text_field :name %> </p>
       <p><%= f.label :desc, "Description" %>: <%= f.text_area :desc %></p>
       <%= f.submit "Add Bucket" %>
       <% end %>
    </div>
    </div>

    <% @buckets.each do |bucket| %>
    <div class="col-sm-3 thumbnail bucketbox text-center"><%= link_to bucket.name, bucket_path(bucket) %> <br><small><%= link_to "Edit |", user_buckets_path(@user), class: "edit" %>  <%= link_to " Delete", bucket_path(bucket), :method => :delete, data: { confirm: "Delete #{bucket.name}; are you sure?" }, class: "edit" %></small>
      <div class="edit-form overlay" aria-hidden="true">
      <%= form_for bucket,:url => bucket_path(bucket), method: "PUT" do |f| %>
     <p><%= f.label :name %>: <br> <%= f.text_field :name %> </p>
     <p><%= f.label :desc, "Description" %>: <br> <%= f.text_area :desc %></p>
     <%= f.submit "Update Bucket" %>
     <% end %>
    </div>
    </div>
    <% end %>
    </div>

  </div>
    
 </div>








<!-- Replacing this sample with Ife & Aparna code
<h1>Buckets#index</h1>
<p>Find me in app/views/buckets/index.html.erb</p>
<br>

<h1> <%= @user.first_name %></h1>
< % @buckets.each do |b| %>
 < %= b.name %> < %= link_to "show", b %> <br>
< % end %>
<br> -->

