
<header>
<nav class="navbar navbar-default navbar-right navbar-fixed-top">
  <span id ="logo">MusicBucket</span>
    <ul id='head-links' class="nav navbar-nav navbar-right list-inline" style="background-color:red">
        <li><a href="#">Home</a></li>
        <li><a href="#">Our story</a></li>     
    </ul>
</nav>
</header>
<div class="row">
 <h2><%= @bucket.name %></h2>
</div>
<div class="row">
  <div class="col-sm-4">

   
    <div style='background-color:rgba(255,255,255,0.4)'>
      <div id="search" data-url= <%=bucket_tracks_path(@bucket) %> style="color:#000">
        <h3>Search for a Song</h3>
        <p><h4>Type a song name and click on "Search" icon. Then, click on preview play button from the results to play 30 seconds of its first track.</h4></p>
        <%= form_tag "javascript:void(0)", method:"GET" do %>
          <%= text_field_tag :searchTerm, nil, placeholder: "Search for a song", autofocus: true, class: "form-control" %>
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          <span class="glyphicon glyphicon-search"></span> 
        <% end %>
        <% end %>
      </div>
  <br>
      <div id="results"><ul class="list-group"></ul></div>
    </div>
  </div>

  <div class="col-sm-8">

    <div id="tracks">
        <% if @tracks.any? %>
        <div><a href="#" id="play-all">Play all</a>
        <iframe src="https://embed.spotify.com/?uri=spotify:trackset:<%= @bucket.name %>List:<%= @playlist.join(',') %>" frameborder="0" allowtransparency="true"></iframe></div>
          <ol>
          <% @tracks.each do |track| %>
        <li class="songtitle"><h4 class="songtitle"><%= track.title %> by <%= track.artist %></h4> <p><a href="#" class="playbtn">Show</a> | <%= link_to 'Delete', track_destroy_path(@bucket,track), method: :delete, data: { confirm: 'Are you sure to delet this song?' }, :class => 'delete_track' %></p>
        
        <div class="if-div" data-trackid=<%=track.id%>><iframe src="https://embed.spotify.com/?uri=<%= track.track_uri %>" width="580" height="80" frameborder="0" allowtransparency="true"></iframe></div>
        <hr>
       
        </li>
        
        <% end %>
        </ol>
        <% end %>
  </div>

  

</div>
</div>





