<div style ='background-color:#fff;'>
<h1>Buckets#show</h1>
<p>Find me in app/views/buckets/show.html.erb</p>
<h3><%= @bucket.name %></h3>

<div id="tracks">
    <% if @tracks.any? %>
    <% @tracks.each do |track| %>
    <%= div_for track do %>
      <p><%=  track.id %> <%=  track.title %> by <%=  track.artist %> <%= link_to 'Delete', track_destroy_path(@bucket,track), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_track' %></p>
    <% end %>
  <% end %>
  <% end %>
</div>
<br>
<div id="search">
<%= form_tag bucket_tracks_path(@bucket), method: "post" do %>
  <%= text_field_tag :searchTerm, nil, placeholder: "Search for a song", autofocus: true %>
  <%= button_tag(type: 'submit', class: "btn btn-default") do %>
  <span class="glyphicon glyphicon-search"></span> 
<% end %>

<% end %>
</div>
<br>
<div id="results"><ul></ul></div>
</div>