
<header>
<nav class="navbar navbar-default navbar-right navbar-fixed-top">
  <span id ="logo">MusicBucket</span>
    <ul id='head-links' class="nav navbar-nav navbar-right list-inline" style="background-color:red">
        <li><a href="#">Home</a></li>
        <li><a href="#">Our story</a></li>
         
    </ul>
</nav>
</header>
<div class="row">
  <div class="col-sm-4">

    <h2><%= @bucket.name %></h2>

   <div style='background-color:rgba(255,255,255,0.4)'>
    <div id="tracks" style="background-color:#000;text-align: left;">
      <% if @tracks.any? 
        counter = 1
        %>
        <!-- <div class="text-center">
          <strong><%= @bucket.name %></strong>
        </div> -->
 
        <hr>
      
        <% @tracks.each do |track| %>

        
      <%= counter %>. <%= track.title %> by <%= track.artist %>
      <iframe src="https://embed.spotify.com/?uri=<%= track.track_uri %>" width="380" height="80" frameborder="0" allowtransparency="true"></iframe>
      <br>
    
      <div style="border-width: 1px; border-style: solid; border-color: #fff;background-color:rgba(255,255,255,0.4);">
      <%= link_to ' Delete from this Bucket', track_destroy_path(@bucket,track), method: :delete, data: { confirm: 'Are you sure to delet this song?' }, :class => 'delete_track' %>  
      </div>

      <hr>    

    <% counter += 1 %>

  <% end %>
  <% end %>
  </div>
  <br>

  <div id="search" data-url= <%=bucket_tracks_path(@bucket) %> style="color:#000">
  <h3>Search for a Song</h3>
  <p>Type a song name and click on "Search" icon. Then, click on preview play button from the results to play 30 seconds of its first track.</p>
  <%= form_tag "javascript:void(0)", method:"GET" do %>
    <%= text_field_tag :searchTerm, nil, placeholder: "Search for a song", autofocus: true, class: "form-control" %>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <span class="glyphicon glyphicon-search"></span> 
  <% end %>

  <% end %>
  </div>
  <br>
  <div id="results"><ul class="list-group"></ul></div>
</div>
</div>
</div>
