<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<header>
 <h1 id ="logo">MusicBucket</h1>
<ul>
  <li id="logout"><%= link_to "Home", root_path %></li>
</ul>
</header>

<h2 id="behind">Behind the Scenes</h2>

<div class="container project text-center" style="font-color:#000; background-color:#fff;">
 <br><br>
  <div class="row">
    <div class="col-md-12 col-sm-12"><p  class="projectHeader">Music Bucket</p> Thanks for stopping by MusicBucket! <br>This was a collborative group project, created by Sue Lucas, Shilpa Kumar, Ife Omoniyi, and Aparna Sainath, <br>while full-stack students at General Assembly. <br>This is an interactive music application, organizing your personal music according to your moods!</div>
  </div>
  
  <br><br>

  <div class="row">
    <div class="col-md-12 col-sm-12"><p  class="projectHeader">Developers</div>
  </div>
  <div class="row photos">
    <div class="col-md-3 col-sm-3 img">
      <%= image_tag("aparna.jpg", size: "200x200", alt: "Aparna Sainath") %>
      <div class="desc">Aparna Sainath</div>      
    </div>
    <div class="col-md-3 col-sm-3 img">
      <%= image_tag("ife.jpg", size: "200x200", alt: "Ife Omoniyi") %>
      <div class="desc">Ife Omoniyi</div>      
    </div>
    <div class="col-md-3 col-sm-3 img">
      <%= image_tag("shilpa.jpg", size: "200x200", alt: "Shilpa Kumar") %>
      <div class="desc">Shilpa Kumar</div>      
    </div>
    <div class="col-md-3 col-sm-3 img">
      <%= image_tag("sue.jpg", size: "200x200", alt: "SoYoung Choi-Lucas") %>
      <div class="desc">Sue Lucas</div>      
    </div> 
  </div> 

  <br><br>

  <div class="row">
    <div class="col-md-12 col-sm-12"><p  class="projectHeader">Wireframes</p></div>
  </div>

  <div class="row text-center">
    <div class="col-md-4 col-sm-4">
      <%= image_tag("wireframe1.jpg", size: "300x200", alt: "Wireframes") %>
    </div> 
    <div class="col-md-4 col-sm-4">
      <%= image_tag("wireframe2.jpg", size: "300x200", alt: "Wireframes") %>
    </div> 
    <div class="col-md-4 col-sm-4">
      <%= image_tag("wireframe3.jpg", size: "300x200", alt: "Wireframes") %>
    </div>       
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-12 col-sm-12"><p  class="projectHeader">Navigation </p>
    Login through your Facebook account to access your personalized bucket page. <br>Add buckets with your choice of music according to the mood you're in. <br>Then, sit back, relax, and listen to your newly built playlist!
    <br>
    We set up a dummy user for a quick overview of our project so that having a Facebook account is not required. <br>Copy & paste the following URL into your browser to access MusicBucket. <br><br>
    <h4><%= link_to "Experience as Guest", site_guest_login_path %></h4>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-12 col-sm-12"><p  class="projectHeader">Technologies</p>
    <strong>Language:</strong> HTML5, CSS3, Javascript, JQuery, AJAX, Ruby
    <br>
    <strong>Framework:</strong> Rails 4
    <br>
    <strong>Database:</strong> Postgresql
    <br>
    <strong>Other:</strong> Bootstrap, Photoshop
    </div>
  </div>
 <br><br>

</div> <!-- end of the container -->

<br><br>
