<!DOCTYPE html>
<html>
<head>
  <title>Music Buckets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/assets/favicon.ico" rel="shortcut icon" />
</head>
<body class="container">
<br>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        PLACE HOLDER
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
          Logout | Login
       
      </li>
    </ul>    
  </div>
</nav>
  <div class="container-fluid">
    <% flash.each do |key, value| %>
      <% if key == "notice" %>
        <%= content_tag :div, value, class: "text-center alert alert-warning" %>
      <% elsif key == "alert" %>
        <%= content_tag :div, value, class: "text-center alert alert-danger" %>
      <% else %>
        <%= content_tag :div, value, class: "text-center alert alert-success" %>
      <% end %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
